{% extends "base_minimal.html" %}
{% load i18n %}


{% block content %}


<div class="flex flex-col p-4 gap-4">
   

   <div class="flex flex-col justify-start items-start">
      <h1 class="text-xl font-bold tracking-wider">{% trans "Update The Post" %}</h1>
      <p>{% trans "This form is available for the internal users." %}</p>
   </div>

   <div class="flex justify-between">
         
         <div class="flex flex-col  gap-2 bg-white shadow-md p-4 basis-3/4">
            <h1 class="text-xl font-bold tracking-wider">{% trans "Post Update form" %}</h1>
            <form  method="POST" enctype="multipart/form-data">
               {% csrf_token %}
            {{ form }}
            <div class="flex w-full items-center justify-center mt-5">
               <button class="bg-green-600 px-6 py-2 cursor-pointer rounded-lg">{% trans "Save" %}</button>
            </div>

            </form> 
         </div>

    
   </div>
</div>





{% endblock  %}